@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PressStart';
  src: url('../assets/PressStart2P-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  }
body::-webkit-scrollbar {
  width: 5px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0);
	border-radius: 10px;
	background-color: #F5F5F5;
}
 
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0);
	background-color: rgb(0, 0, 0);
}
   
.box_project{
  box-shadow: 6px 0 black, -6px 0 black, 0 -6px black, 0 6px black;
  margin: 6px auto;
}
body {
  position: relative;
  overflow-y:auto;
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #dee0e9;
  /*  COULEUR GRISE #caccd4 */
}

 *{
    scroll-behavior: smooth;
 }

button{
   font-weight: 400;
}
.dl_Button {
  font-family: 'PressStart', cursive;
}
.PressStart{
  font-family: 'PressStart', cursive;
}


.Title {
   animation: 3s anim-Y linear forwards;
 }
 @keyframes anim-Y {
   
   0% {
     opacity: 0;
     transform: translateY(80%);
   }
   20% {
     opacity: 0;
   }
   50% {
     opacity: 1;
     transform: translateY(0%);
   }
   100% {
     opacity: 1;
     transform: translateY(0%);
   }
 }
 .TitleInfinite {
  animation: 3s anim-Y_Infinite linear infinite;
}
@keyframes anim-Y_Infinite {
  
  0% {
    opacity: 1;
    transform: translateY(30%);
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(30%);
  }
}
 
 .Presentation {
   animation: 0.5s anim-X ease-out forwards;
 }
 @keyframes anim-X {
   0% {
      opacity: 0;
      transform: translateX(-80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateX(0%);
    }
    100% {
      opacity: 1;
      transform: translateX(0%);
    }

 }

 .PresentationInfinite {
  animation: 5s anim-XInfinite ease-out infinite;
}
@keyframes anim-XInfinite {
  0% {
     opacity: 1;
     transform: translateX(0%);
   }
   20% {
     opacity: 1;
   }
   50% {
     opacity: 1;
     transform: translateX(50%);
   }
   100% {
     opacity: 1;
     transform: translateX(0%);
   }

}
.flex_Project_card{
  display: flex;
}
.flex_Project_card:nth-child(n+3){
  filter: blur(4px);
}
.flex_Project_card:nth-child(n+5){
  position: absolute; top: -9999px; left: -9999px;
}
.test{
  display: inline;
}
 .flottant {
  animation: 10s anim-Flottant ease-out infinite;
 }
 @keyframes anim-Flottant {

  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  20% {
    opacity: 1;
  }
  50% {
    opacity: 1;
    transform: translateY(70px) rotate(5deg);
    /* transform: rotate(5deg); */
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    transform: rotate(0deg);
  }

 }
 /*   //                                MEDIA QUERIES                       */
 @media screen and (max-width: 748px) {

  .flex_row img {
   display: none;
  }
  .flex_row a{
    display: none;
  }
  .flex_collum {

    gap:0;  
  }
  .flex {
    flex-wrap: wrap;
  }
  .grid_Header{ 
    /* changing the grid navbar to a flex */
    display: flex; 
  }
  .chest_img {
    animation: none;
   
  }

 }
 @media screen and (max-width: 1100px) and (min-width: 748px) {
  /* .flex_competences{
    flex-wrap: wrap;
  } */
.flex_competences{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
 }
 
 

 @media screen and (max-width: 1920px) and (min-width: 750px) {
  .flottant{
    width: 300px;
  }
  /* .flex{
    gap: 8rem;
  } */
  .flex_row {
    flex-direction: column;
  }
  .flex_row img {
    width: 400px;
  }
  .flex_collum {
    gap:10rem;
  }
 }
 @media screen and (max-width: 1440px) {
  .flottant{
    width: 400px;
    margin-right: 150px;
  }
  /* .flex{
    gap: 8rem;
  } */
  /* .flex_row {
    flex-direction: column-reverse;
  } */
  
 }
 @media screen and (min-width: 2200px) {
  /* .flottant{
    width: 400px;
  } */
  .flex_row img{
  
    width: 500px;
  }
  .flex_row {
    gap: 15rem;
  }
  /* .flex{
    gap: 80rem;
  } */
  /* .flex_row {
    flex-direction: column-reverse;
  } */
  
 }
 
 .vertical-timeline-element-date {
  color: crimson;
}